<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hi.todo.dao.TodoDAO">
    
    <select id="selectTodos" resultType="TodoVO">
    	select * from todo 
    	<if test='date != ""'>
    		where date = #{date}
    	</if>
    	order by date desc, `order` asc
    </select>
    
    <insert id="insertTodo">
    	insert into todo(date, text, `order`)
		select 
			#{todo.date}, 
			#{todo.text}, 
			ifnull(max(`order`), 0) + 1 
		from todo 
		where date = #{todo.date}
    </insert>
    
    <delete id="deleteTodo">
    	delete from todo where num = #{num}
    </delete>
    
    <update id="updateTodo">
    	update todo set text = #{todo.text}
    	where num = #{todo.num}
    </update>
</mapper>