<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body >
	<main layout:fragment="content" class="container">
		<h1>게시글 수정</h1>
		<form th:action="@{/post/update/{num}(num=${post.po_num})}" method="post">
			<div class="mb-3 mt-3">
				<label for="title" class="form-label">제목:</label> 
				<input
					type="text" class="form-control" id="title"
					placeholder="제목을 입력하세요." name="title"
					th:value="${post.po_title}">
			</div>
			<div class="mb-3 mt-3">
				<label for="content" class="form-label">내용:</label> 
				<textarea
					class="form-control" id="content"
					placeholder="내용을 입력하세요." name="content"
					rows="15"
					th:text="${post.po_content}"></textarea>
			</div>
			<button class="btn btn-outline-success col-12">게시글 수정</button>
		</form>
	</main>
</body>
</html>







