<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>관리자 메뉴</title>
</head>
<body>
	<main layout:fragment="content" class="container">
		<h1>게시판 관리</h1>
		<!-- 
		게시판(board) 전체를 화면에 출력 
		1. 게시판 전체가 필요 => 서버에게 화면 선택할 때 게시판 전체를 보내줘
		  - AdminController
		2. 서버가 게시판 전체를 보내주면 게시판 전체를 이용해서 화면에 출력 
		  - board.html
		-->
		<th:block th:text="${list}"></th:block>
	</main>
</body>
</html>