<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>abc</title>
</head>
<body>
	<main layout:fragment="content" class="container">
		<h1>게시글 상세</h1>
		<div class="form-control" th:text="${post.po_title}"></div>
		<div class="input-group mt-3">
			<div class="form-control" th:text="${post.po_me_id}"></div>
			<div class="form-control" th:text="${post.po_view}"></div>
			<div class="form-control" th:text="${post.po_date}"></div>
		</div>
		<!-- 게시글 내용 -->
		<pre 
			class="form-control mt-3" 
			th:text="${post.po_content}"
			style="min-height: 400px"></pre>
		<!-- 게시글 삭제 버튼 -->
		<form class="mt-3" 
			th:action="@{/post/delete/{num}(num=${post.po_num})}" 
			method="post" onsubmit="return confirm('게시글을 삭제하겠습니까?');"
			th:if="${#authentication.name == post.po_me_id}">
			<button class="btn btn-danger" >삭제</button>
			<a th:href="@{/post/update/{num}(num=${post.po_num})}"
				class="btn btn-warning">수정</a>
		</form>
		<hr>
		<a 
			th:href="@{/post/list}"
			class="btn btn-outline-success mt-3">목록으로</a>
	</main>
</body>
</html>




