<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<main layout:fragment="content" class="container">
		<h1>게시글 목록</h1>
		<!-- 게시판 목록 -->
		<div class="d-flex my-5">
			<a class="btn me-3"
				th:classappend="${pm.cri.boNum == 0 ? 'btn-danger' : 'btn-outline-danger'}"
				th:href="@{/post/list(boNum=0)}">전체</a>
			<a class="btn me-3"
				th:classappend="${pm.cri.boNum == board.bo_num ? 'btn-dark' : 'btn-outline-dark'}"
				th:each="board : ${bList}"
				th:href="@{/post/list(boNum=${board.bo_num})}">[[${board.bo_name}]]</a>
		</div>
		<hr>
		
		<!-- 검색창 -->
		<form action="" class="input-group">
			<!-- 검색 타입 -->
			<select class="form-control" name="type" >
				<option value="A" th:selected='${pm.cri.type == "A"}'>전체</option>
				<option value="TC" th:selected='${pm.cri.type == "TC"}'>제목+내용</option>
				<option value="W" th:selected='${pm.cri.type == "W"}'>작성자</option>
			</select>
			<!-- 검색어 -->
			<input type="text" class="form-control" name="search"
				th:value="${pm.cri.search}">
			<!-- 검색버튼 -->
			<button type="submit" class="btn btn-success">검색</button>
		</form>
		
		<hr>
		<!-- 게시글 목록 -->
		<table class="table table-hover">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th>
					<th>추천/비추</th>
					<th>조회수</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="post : ${list}">
					<td th:text="${post.po_num}"></td>
					<td>
						<a 
							th:href="@{/post/detail/{num}(num=${post.po_num})}"
							th:text="${post.po_title}"
						></a>
					</td>
					<td th:text="${post.po_me_id}"></td>
					<td th:text="${post.po_date}"></td>
					<td th:text="${post.po_up} + '/' + ${post.po_down}"></td>
					<td th:text="${post.po_view}"></td>
				</tr>
				<tr th:if="${list.isEmpty()}">
					<th class="text-center" colspan="6">등록된 게시글이 없습니다.</th>
				</tr>
			</tbody>
		</table>
		
		<ul class="pagination justify-content-center" 
			th:if="${pm.endPage != 0}">
		    <li class="page-item" th:if="${pm.prev}">
		    	<a class="page-link" th:href="@{/post/list(page=${pm.startPage-1}, boNum=${pm.cri.boNum}, type=${pm.cri.type}, search=${pm.cri.search})}">이전</a>
		    </li>
		    <li class="page-item"
		    	th:classappend="${page == pm.cri.page ? 'active' : ''}" 
		    	th:each="page : ${#numbers.sequence(pm.startPage, pm.endPage)}">
		    	<a class="page-link" th:href="@{/post/list(page=${page}, boNum=${pm.cri.boNum}, type=${pm.cri.type}, search=${pm.cri.search})}">[[${page}]]</a>
		    </li>
		    <li class="page-item" th:if="${pm.next}">
		    	<a class="page-link" th:href="@{/post/list(page=${pm.endPage+1}, boNum=${pm.cri.boNum}, type=${pm.cri.type}, search=${pm.cri.search})}">다음</a>
		    </li>
		</ul>
		<a 
			sec:authorize="isAuthenticated()"
			th:href="@{/post/insert}"
			class="btn btn-outline-success mt-3">게시글 등록</a>
	</main>
</body>
</html>