<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hi.boot.dao.PostDAO">
   
   	<select id="getBoardList" resultType="Board">
		select * from board
   	</select>
   	<!-- 
   	- select 태그만 resultType 또는 resultMap이 필요
   	- update, insert, delete는 필요 없음
   	  - DAO의 리턴타입으로 boolean, int 지정 가능. 
   	    mapper에서는 따로 지정할 필요 없음 
   	 -->
   	<insert id="insertBoard">
   		insert into board(bo_name) values(#{name})
   	</insert>
   	
   	<delete id="deleteBoard">
   		delete from board where bo_num = #{num}
   	</delete>
   	<update id="updateBoard">
   		update board
   		set
   			bo_name = #{name}
   		where
   			bo_num = #{num}
   	</update>
   	<select id="getPostList" resultType="Post">
   		select * from post 
   		where 
   			po_del = 'N'
   			<!-- 게시판에 맞는 게시글 목록 조회 -->
   			<if test="cri.boNum != 0">
   			and po_bo_num = #{cri.boNum}
   			</if>
   			<!-- 검색 조건에 맞는 게시글 목록 조회 -->
   			<choose>
   				<!-- 전체 검색 -->
   				<when test='cri.type == "A"'>
   				and (
   					po_title like concat('%', #{cri.search}, '%') or
   					po_content like concat('%', #{cri.search}, '%') or
   					po_me_id = #{cri.search}
   				)
   				</when>
   				<!-- 제목+내용 검색 -->
   				<when test='cri.type == "TC"'>
   				and (
   					po_title like concat('%', #{cri.search}, '%') or
   					po_content like concat('%', #{cri.search}, '%') 
   				)
   				</when>
   				<!-- 작성자 검색 -->
   				<when test='cri.type == "W"'>
   				and po_me_id = #{cri.search}
   				</when>
   			</choose>
   		order by po_num desc
   		limit #{cri.pageStart}, #{cri.perPageNum}
   	</select>
   	<select id="getPost" resultType="Post">
   		select * from post where po_num = #{num}
   	</select>
   	<select id="getBoard" resultType="Board" >
   		select * from board where bo_num = #{num}
   	</select>
   	<insert id="insertPost">
   		insert into post(po_title, po_content, po_me_id, po_bo_num)
   		values(#{post.title},#{post.content},
   			#{post.id},#{post.board})
   	</insert>
   	<update id="updatePostView">
   		update post set po_view = po_view + 1 
   		where po_num = #{num}
   	</update>
   	<select id="selectPostListCount" resultType="int">
   		select count(*) from post 
   		where 
   			po_del = 'N'
   			<!-- 게시판 조건 -->
	   		<if test="cri.boNum != 0">
	   		and po_bo_num = #{cri.boNum}
	   		</if>
   			<!-- 검색 조건에 맞는 게시글 목록 조회 -->
   			<choose>
   				<!-- 전체 검색 -->
   				<when test='cri.type == "A"'>
   				and (
   					po_title like concat('%', #{cri.search}, '%') or
   					po_content like concat('%', #{cri.search}, '%') or
   					po_me_id = #{cri.search}
   				)
   				</when>
   				<!-- 제목+내용 검색 -->
   				<when test='cri.type == "TC"'>
   				and (
   					po_title like concat('%', #{cri.search}, '%') or
   					po_content like concat('%', #{cri.search}, '%') 
   				)
   				</when>
   				<!-- 작성자 검색 -->
   				<when test='cri.type == "W"'>
   				and po_me_id = #{cri.search}
   				</when>
   			</choose>
   	</select>
   	<update id="deletePost">
   		<!-- 게시글 번호를 이용하여 게시글의 po_del를 Y로 수정하는 쿼리작성 -->
   		update post
   		set
   			po_del = 'Y'
   		where
   			po_num = #{poNum}
   	</update>
   	
   	<update id="updatePost">
   		update post
   		set
   			po_title = #{dto.title},
   			po_content = #{dto.content}
   		where 
   			po_num = #{poNum}
   	</update>
</mapper>




